<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Learning
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item-group *ngFor="let group of groups; let g = index;">
        <ion-item-divider color="light">{{groupLength}}{{g * 17}}</ion-item-divider>
        <ion-item *ngFor="let item of group; let i = index;">
            <ion-badge color="secondary">{{g * 17 + i*6}}</ion-badge>
            {{item}}
        </ion-item>
    </ion-item-group>
</ion-content>