<ion-header>
    <ion-navbar color="primary" hideBackButton>
        <ion-title>
            Learning
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div (swipeup)="swipeUp()" (swipedown)="swipeDown()" (swipeleft)="navCtrl.push(statsPage)" (swiperight)="navCtrl.push(trainingPage)">
        <ion-item-group *ngFor="let group of groups; let g = index;">
            <ion-item-divider (click)="groupVisible = g === groupVisible ? -1 : g" color="light">{{g * 17 * 6}}</ion-item-divider>
            <ion-item *ngFor="let item of group; let i = index;" [hidden]="g != groupVisible">
                <ion-badge color="secondary">{{g * 17 * 6 + i*6}}</ion-badge>
                {{item}}
            </ion-item>
        </ion-item-group>
    </div>
</ion-content>